.gradient-custom {
  /* fallback for old browsers */
  /* background: #d907f05f; */
  /* background:white  ; */
  
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to bottom right, rgba(241, 147, 251, 0.521), rgba(245, 87, 108, 0.773)); */
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to bottom right, rgba(241, 147, 251, 0.521), rgba(245, 87, 108, 0.773)) */
  /* background: rgba(143, 211, 244, 0.5); */
  }
  .card{
    /* background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1)) */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  
  }
  .card-registration .select-arrow {
  top: 13px;
  }