   <!-- <nav class="navbar navbar-dark navbar-expand-sm" style="background-color:black" > -->
    <div class="container" >
        <nav class="navbar navbar-dark navbar-expand-sm"  >
        <ul class="navbar-nav">
         <!-- <a routerLink="add-review" style="font-weight: bold ;" class="nav-link btn btn-primary">Add Review</a> -->
            <input class="form-control" type="text"  [(ngModel)]= "reviewName"
            placeholder="Enter key to search"> 
            <span style="width:200px;"></span>
            <li class="nav-item" style="margin:10px;width:250px;">
              <a routerLink="add-review" style="font-weight: bold ;" class="nav-link btn btn-success" style="background-color:rgb(97, 207, 170); font-weight: bold ;
              font-size: large;color:rgba(0, 0, 0, 0.725)">Add Review</a>
          </li>
        </ul>
      
    </nav>
  </div> 
  <h1 style="color:rgb(97, 207, 170); font-weight: bold;"> Reviews catelogue</h1>
      <div  >
         <table class="table table-bordered">
            <thead>
               <tr>    
                  <th>movieName</th>
                  <th>reviewRating</th>
                  <th>Movie Image</th>
                  <th>reviewDatePosted</th>
                  <th>reviewDescription</th>                  
               </tr>
            </thead>
            <tbody>
              <!-- angular takes care of DOM manipulation -->
              <!-- structural directive -->
              <tr *ngFor="let review of reviews   | filter: reviewName | paginate: { id: 'moviePagination',
              itemsPerPage: 6,
              currentPage: page,
              totalItems: totalRecords }">
               
               <!-- {{}} string interpolation-->             
               <td>{{getMovieName(review.movieId)}}</td>
               <td>{{review.rating}}</td>
               
               <td><img src="{{ getMovieUrl(review.movieId) }}" alt=""  style=" width: 200px; height: 200px;"></td>
               <td>{{review.datePosted}}</td>
               <td>{{review.description}}</td>
               
               
               <td><button (click)="deleteReview(review)" class="btn btn-primary" style="background-color:rgb(97, 207, 170); font-weight: bold ;
                  font-size: large;color:rgba(0, 0, 0, 0.725)"  >Delete</button></td>
              
              </tr>
            </tbody>
         </table>
      </div>   
      <div>
         <pagination-controls class="text-center" (pageChange)="page = $event" id="moviePagination"></pagination-controls>
       </div>
      